#footer {
    background-color: #05042c;
}

.nhat-footer-top {
    display: flex;
    justify-content: space-between;
}

.nhat-text-white {
    --text-opacity: 1;
    color: #fff;
    font-size: 18px;
}

.nhat-footder-top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 424px;
}

.nhat-footder-top-right-hotline-titler {
    opacity: 0.5;
}

.nhat-footder-top-right-hotline a {
    --text-opacity: 1;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.nhat-footder-top-right-social {
    display: flex;
}

.nhat-circle-logo {
    width: 20px;
    height: 20px;
    background: #06c1d4;
    text-align: center;
    padding: 5px;
    color: black;
    border-radius: 50%;
}

.nhat-circle-logo a i {
    font-size: 16px;
}

.nhat-social {
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    width: 130px;
}

.nhat-blur {
    opacity: 0.5;
}

.nhat-footer-infomation-list {
    display: flex;
    width: 66.666%;
}

.nhat-footer-infomation-list .nhat-footer-infomation-item {
    width: 25%;
}

.nhat-footer-infomation-list-title {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.nhat-footer-infomation-item li a {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

footer .nhat-footer-infomation-list .nhat-footer-infomation-item:nth-child(2) {
    margin-top: 36px;
}

.nhat-footer-infomation {
    display: flex;
}

.nhat-footer-address {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.nhat-footer-infomation-shop-system {
    width: 36.333%;
}

.address {
    display: flex;
}

.nhat-thecopyright {
    padding-top: 24px;
    padding-bottom: 16px;
    color: #fff;
    opacity: 0.4;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
}

.bo-cong-thuong img {
    max-width: 74px;
    height: 24px;
    margin-top: 10px;
    opacity: 0.8;
}