.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.pb-10px {
    padding-bottom: 10px;
}

.pt-15px {
    padding-top: 15px;
}

.pb-15px {
    padding-bottom: 15px;
}

.font-semibold {
    font-weight: 600;
}

.wi-50per {
    width: 50%;
}

.color-blu {
    color: #06c1d4;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.fs-16px {
    font-size: 16px;
}

.flex {
    display: flex;
}